body {
  color: #303942;
  font: 14px 'DejaVu Sans', Arial, sans-serif;
  margin: 0 auto;
  width: 680px;
}

#wrapper {
  width: 500px;
}

header {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 15px 0;
  width: 100%;
}

.section {
  border-bottom: 1px solid #eee;
  padding: 20px 0 15px 0;
  width: 100%;
}
